<!-- 	<header th:fragment="header"> -->
<!--   <nav class="navbar navbar-expand-md bg-dark navbar-dark"> -->
<!--     <a class="navbar-brand" th:href="@{/passenger/list}"> -->
<!--       Master Menu -->
<!--     </a> -->
<!--     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar"> -->
<!--       <span class="navbar-toggler-icon"></span> -->
<!--     </button> -->
<!--     <div class="collapse navbar-collapse" id="topNavbar"> -->
<!--       <ul class="navbar-nav"> -->
<!--       	A menu link to check in luggage -->
<!--         <li class="nav-item"> -->
<!--           <a class="nav-link" th:href="@{/airport/list}">CHECK-IN LUGGAGE</a> -->
<!--         </li> -->
        
<!--         A menu link to tracking record -->
<!--         <li class="nav-item"> -->
<!--           <a class="nav-link" th:href="@{/passenger/list}">TRACKING RECORD</a> -->
<!--         </li> -->
        
<!--       </ul> -->
<!--     </div> -->
<!--   </nav> -->
<!-- </header> -->